.display{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0px;
        width: calc(100vw * 720/720);
        height: calc(100vw * 1300/720);
        background-color: rgb(230, 230, 230);
}




/*Slides*/
.slide_frame{
    position: absolute;
        top:calc(100vw * 60/720);
        left:0;
    width:calc(100vw * 720/720);
    height: calc(100vw * 500/720);
    overflow: hidden;

}   

@-webkit-keyframes slide_animation{
    0% { left: calc(100vw * -0/720);}
    30% { left: calc(100vw * 0/720);}
    35% { left: calc(100vw * -720/720);}
    60% { left: calc(100vw * -720/720);}
    65% { left: calc(100vw * -1440/720);}
    95% { left: calc(100vw * -1440/720);}
    100% { left: calc(100vw * -1440/720);}
}


.slideshow{
    width:calc(100vw * 2700/720);
    height: calc(100vw * 500/720);
    display: flex;
    position: relative;
        top: 0;        

    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;

    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state: running;


}
.slide{
    position: relative;

    width:calc(100vw * 720/720);
    height: calc(100vw * 500/720);

}
.first{

}
.second{

}
.third{

}

/*Form*/
.message_holder{
    background-color: white;
    position: absolute;
        top: calc(100vw * 500/720);
        left: calc(100vw * 80/720);
    width: calc(100vw * 580/720);
    height: calc(100vw * 700/720);
    filter: var(--shadow2);
}


.message_holder h1{
    font-family: var(--montserrat);
    font-size: calc(100vw * 40/720);
    position: relative;
        margin-top: calc(100vw * 20/720);
        left: calc(100vw * 20/720);
}
.message_holder h2{
    font-family: var(--montserrat);
    font-size: calc(100vw * 20/720);
    position: relative;
        left: calc(100vw * 20/720);
    font-weight: normal;
}
.message_holder hr{
    width: 90%;
    position: relative;
        margin-top: calc(100vw * 10/720);
        left: calc(100vw * 20/720);
        
}
#first_name,#last_name,#email,#message{
    padding: calc(100vw * 15/720);
    border-radius: calc(100vw * 5/720);
    border: calc(100vw * 1/1980) solid rgb(133, 133, 133);
    position: relative;
        left: calc(100vw * 20/720);
        margin-top: calc(100vw * 20/720);
        margin-right: calc(100vw * 10/720);
        font-family: var(--montserrat);
        font-size: calc(100vw * 14/720);
    width: calc(100vw * 250/720);
    
}
#last_name{
    width: calc(100vw * 210/720);
}
#email{
    width: calc(100vw * 507/720);
}
#message{
    width: calc(100vw * 507/720);
    height: calc(100vw *240/720);
    font-family: var(--montserrat);
}
#send{
    font-size: calc(100vw * 20/720);
    font-family: var(--poppins);
    padding: calc(100vw * 10/720) calc(100vw * 15/720);
    background-color: var(--green);
    color: white;
    border-radius: calc(100vw * 10/720);
    position: relative;
        left: calc(100vw * 200/720);
        margin-top: calc(100vw * 20/720);

}
.message_holder h3{
    font-family: var(--montserrat);
    font-size: calc(100vw * 12/720);
    position: relative;
        left: calc(100vw * 130/720);
        margin-top: calc(100vw * 30/720);
    font-weight: normal;
}
#policy{
    color: var(--green);
}
/*First Slide*/
.text_holder{
    position: relative;
        top: calc(100vw * 80/720);
        left: calc(100vw *320/720);
    width:calc(100vw * 500/720);
    height: calc(100vw * 400/720);
    
}
.text_holder h1{
    font-family: var(--lobster);
    font-weight: normal;
    font-size: calc(100vw * 70/720);
}
.text_holder p{
    font-family: var(--montserrat);
    font-weight: normal;
    font-size: calc(100vw * 20/720);
    width: calc(100vw * 370/720);
}
.first img,.third img{
    position: absolute;
        width: calc(100vw * 500/720);
        top: calc(100vw * 80/720);
        left: calc(100vw * 10/720);

    }

/*Second Slide*/
.second img{
    position: relative;
        top: calc(100vw * 50/720);
        left: calc(100vw * 50/720);
    width: calc(100vw * 650/720);
}
.second p{
    z-index: 1;
    position: absolute;
        top: calc(100vw * 150/720);
        left: calc(100vw * 440/720);
        font-size: calc(100vw * 15/720);
        width: calc(100vw *230/720);
        font-family: var(--montserrat);
}
.second h1{
    z-index: 1;
    position: absolute;
        top: calc(100vw * 230/720);
        left: calc(100vw * 490/720);
    font-size: calc(100vw * 15/720);
    font-family: var(--poppins);
        padding: calc(100vw * 10/720) calc(100vw * 15/720);
        border-radius: calc(100vw * 20/720);
    background-color: var(--green);
    color: white;
}


/*Message-SENT*/
.message_sent{
    position: absolute;
    top: 0px;
        width: 100vw;
        height: calc(100vw *1700/720);
    z-index: 2;
    display: flex;
        justify-content: center;
    background-color: rgba(95, 95, 95, 0.5);
    display: none;
        
}
.sent_holder{
    position: fixed;
        top: calc(100vw * 300/720);
    width: calc(100vw * 500/720);
    height: calc(100vw *300/720);
    background-color: white;
    filter: var(--shadow1);

}
#green_top{
    width: 100%;
    height: calc(100vw * 10/720);
    position: relative;
        top:0px;
    background-color: var(--green);
}
.sent_holder i{
    font-size: calc(100vw * 100/720);
    color: var(--green);
    position: relative;
    margin-top: calc(100vw * 50/720);
    left: calc(100vw * 200/720);

}
.sent_holder h1{
    font-size: calc(100vw * 30/720);
    font-family: var(--montserrat);
    position: relative;
    margin-top: calc(100vw * 20/720);
    left: calc(100vw * 150/720);
}
.sent_holder p{
    font-size: calc(100vw * 20/720);
    font-family: var(--montserrat);
    position: relative;
    margin-top: calc(100vw * 20/720);
    left: calc(100vw * 100/720);
}



/*Footer*/
#back_orange{
    position: absolute;
    width: calc(100vw * 720/720);
    bottom:  calc(100vw * 165/720)!important;
    z-index: 0;
}